openapi: 3.2.0
info:
  title: SEC EDGAR Data Submissions API
  description: 'The EDGAR Data API at data.sec.gov provides RESTful access to public company financial filings, XBRL structured financial data, and company metadata without requiring authentication or API keys. The API delivers JSON-formatted responses covering company submissions (filing history), XBRL financial facts across all reporting periods, single XBRL concept values over time, and cross-company comparative frames for US-GAAP and IFRS taxonomies.

    '
  version: 1.0.0
  contact:
    name: SEC EDGAR Help
    url: https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany
  license:
    name: Public Domain
    url: https://www.sec.gov/privacy.htm
  termsOfService: https://www.sec.gov/privacy.htm
servers:
- url: https://data.sec.gov
  description: SEC EDGAR Data API
tags:
- name: Submissions
  description: Company filing history and metadata by CIK
paths:
  /submissions/CIK{cik}.json:
    get:
      operationId: getCompanySubmissions
      summary: Get company submissions
      description: 'Returns a company''s complete filing history and metadata identified by Central Index Key (CIK). The response includes company name, SIC code, state of incorporation, addresses, phone number, and a list of recent filings with accession numbers, form types, filing dates, and document metadata. For companies with more than 40 filings, additional files are referenced in the response.

        '
      tags:
      - Submissions
      parameters:
      - name: cik
        in: path
        required: true
        description: 'Central Index Key (CIK) with leading zeros to reach 10 digits. Example: 0000320193 for Apple Inc.

          '
        schema:
          type: string
          pattern: ^\d{10}$
          example: 0000320193
      responses:
        '200':
          description: Company submission data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySubmissions'
        '404':
          description: Company not found
        '429':
          description: Rate limit exceeded (10 requests per second per user agent)
components:
  schemas:
    Address:
      type: object
      description: Physical address
      properties:
        street1:
          type: string
        street2:
          type:
          - string
          - 'null'
        city:
          type: string
        stateOrCountry:
          type: string
        zipCode:
          type: string
        stateOrCountryDescription:
          type: string
    CompanySubmissions:
      type: object
      description: Company filing history and metadata
      properties:
        cik:
          type: string
          description: Central Index Key
          example: 0000320193
        entityType:
          type: string
          description: Type of entity (e.g., operating, investment company)
          example: operating
        sic:
          type: string
          description: Standard Industrial Classification code
          example: '3571'
        sicDescription:
          type: string
          description: SIC code description
          example: Electronic Computers
        name:
          type: string
          description: Company name
          example: Apple Inc.
        tickers:
          type: array
          items:
            type: string
          description: Stock ticker symbols
          example:
          - AAPL
        exchanges:
          type: array
          items:
            type: string
          description: Stock exchanges where the company is listed
          example:
          - Nasdaq
        ein:
          type: string
          description: Employer Identification Number
        lei:
          type:
          - string
          - 'null'
          description: Legal Entity Identifier
        fiscalYearEnd:
          type: string
          description: Fiscal year end date in MMDD format
          example: 0926
        stateOfIncorporation:
          type: string
          description: State of incorporation code
          example: CA
        addresses:
          type: object
          description: Mailing and business addresses
          properties:
            mailing:
              $ref: '#/components/schemas/Address'
            business:
              $ref: '#/components/schemas/Address'
        phone:
          type: string
          description: Company phone number
        formerNames:
          type: array
          description: Previous company names
          items:
            type: object
            properties:
              name:
                type: string
              from:
                type: string
                format: date-time
              to:
                type: string
                format: date-time
        filings:
          type: object
          description: Filing history container
          properties:
            recent:
              $ref: '#/components/schemas/FilingList'
            files:
              type: array
              description: References to additional filing files for companies with extensive history
              items:
                type: object
                properties:
                  name:
                    type: string
                  filingCount:
                    type: integer
                  filingFrom:
                    type: string
                  filingTo:
                    type: string
    FilingList:
      type: object
      description: Arrays of filing metadata (parallel arrays by index)
      properties:
        accessionNumber:
          type: array
          items:
            type: string
          description: SEC accession numbers in format XXXXXXXXXX-YY-ZZZZZZ
        filingDate:
          type: array
          items:
            type: string
            format: date
          description: Filing submission dates
        reportDate:
          type: array
          items:
            type: string
            format: date
          description: Period of report dates
        acceptanceDateTime:
          type: array
          items:
            type: string
          description: EDGAR acceptance timestamps
        act:
          type: array
          items:
            type: string
          description: Securities act under which filing was made
        form:
          type: array
          items:
            type: string
          description: Form types (e.g., 10-K, 10-Q, 8-K)
        fileNumber:
          type: array
          items:
            type: string
          description: SEC file numbers
        filmNumber:
          type: array
          items:
            type: string
          description: Film numbers
        items:
          type: array
          items:
            type: string
          description: Item numbers disclosed in the filing
        size:
          type: array
          items:
            type: integer
          description: Filing sizes in bytes
        isXBRL:
          type: array
          items:
            type: integer
          description: Whether filing contains XBRL data (0 or 1)
        isInlineXBRL:
          type: array
          items:
            type: integer
          description: Whether filing uses inline XBRL (0 or 1)
        primaryDocument:
          type: array
          items:
            type: string
          description: Primary document filenames
        primaryDocDescription:
          type: array
          items:
            type: string
          description: Descriptions of primary documents
